/*
   raw.css
   Stikked
   
   Created by Ben McRedmond on 2008-03-20.
   Copyright 2008 Stikked. Some rights reserved.
*/

body {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana,  "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
}

h1 {
	margin-bottom: 7px;
}

h1 .icon {
	position: relative;
	top: -2px;
	padding-right: 8px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

#container {
	width: 95%;
	margin: 20px auto;
}

pre {
	background-color: #eee;
	padding: 5px;
	font-family: monospace;
	overflow: auto;
}

a img.icon {
	position: relative;
	top: 2px;
}